
/* .main_login_container{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

}
.login{
    width:60px;
    display:block;
    margin-left: 0px;
    margin-right: 50%;
    
}
.logo{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: 0px;
}

.login_img{
    width: 60px;
    height: auto;
}
.logo_login{
    width: 410px;
    height: auto;
}
.principal_logo_container{
    width: 410px;
    height: auto;
    margin-left: 20%;
}

.login_button{
    margin-top: 30px;
} */

.card {
    background-color: var(--color--primario);
}

.txt-second {
    letter-spacing: 2px;
}

.p-colors {
    color: var(--color--extra);
    transition: 0.2s;
}

.p-colors:hover {
    color: var(--color--fondo);

}

.btn-iniciar {
    width: 100%;
    transition: 0.4s;
    border: 1px solid var(--color--secundario);
    color: white;
}

.btn-iniciar:hover {
    background-color: var(--color--extra);
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.255);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.255);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.255);
    color: var(--color--letras);
}